<!doctype html>
<title>INTP stats!</title>
<meta name="viewport" content="initial-scale=1.0">
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/c3/0.4.0/c3.min.js"></script>
<style>
@import url(http://cdnjs.cloudflare.com/ajax/libs/c3/0.4.0/c3.min.css);
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.col1 {
    width: 50%;
    float: left;
}
.col2 {
    margin-left: 50%;
}
</style>
<h1>INTP stats! </h1>
<p>Last updated: {{ last_updated }} &bull; Message count: {{ msg_count }} &bull; Sauce: <a href="https://github.com/leifkb/intpstatgen">GitHub</a></p>
<p><strong>Info:</strong> All dates/times are UTC. These stats count an uninterrupted sequence of messages from the same author as a single message. Someone is considered "active" on a given day if they send at least one message that day.</p> 
<div id="msgchart">
<h2>Messages and active people over time</h2>
<div class="chart"></div>
</div>
<div id="userchart">
<h2>Messages by author</h2>
<p>Mouseover a name in the legend to highlight its graph, or click to hide its graph.</p>
<div class="chart"></div>
</div>
<div id="silence">
<h2>Minutes of silence (no messages) per day</h2>
<div class="chart"></div>
</div>
<div class="col1">
<div id="daysofweek">
<h2>Total messages by day of week</h2>
<div class="chart"></div>
</div>
<div id="msgsbyauthor">
<h2>Total msgs by author</h2>
<div class="chart"></div>
</div>
<div id="wordspermsg">
<h2>Average words per message</h2>
<div class="chart"></div>
</div>
<div id="hellos">
<h2>Words following hi/hey/etc. (msgs like "hi cat")</h2>
<div class="chart"></div>
</div>
<div id="love">
<h2>Top lovers (msgs mentioning love)</h2>
<div class="chart"></div>
</div>
<div id="penis">
<h2>Top penis mentioners</h2>
<div class="chart"></div>
</div>
<div id="fuck">
<h2>Top "fuck" sayers</h2>
<div class="chart"></div>
</div>
<div id="laughers">
<h2>Top laughers</h2>
<div class="chart"></div>
</div>
</div>

<div class="col2">
<div id="hours">
<h2>Total messages by hour</h2>
<div class="chart"></div>
</div>
<div id="activedays">
<h2>Total days of activity</h2>
<div class="chart"></div>
</div>
<div id="edited">
<h2>Percent messages edited</h2>
<div class="chart"></div>
</div>
<div id="percent_uppercase">
<h2>Percent letters uppercase</h2>
<div class="chart"></div>
</div>
<div id="hate">
<h2>Top haters (msgs mentioning hate)</h2>
<div class="chart"></div>
</div>
<div id="boobs">
<h2>Top female anatomy mentioners</h2>
<div class="chart"></div>
</div>
<div id="shit">
<h2>Top "shit" sayers</h2>
<div class="chart"></div>
</div>
<div id="godwin">
<h2>Top Godwin's Law violators</h2>
<div class="chart"></div>
</div>
</div>

<script>
var date_labels = {{ date_labels|tojson }};
var msgs_by_day = {{ msgs_by_day|tojson }};
var authors_by_day = {{ authors_by_day|tojson }};
var minutes_of_silence = {{ minutes_of_silence|tojson }};
var is_mobile = /mobile|kindle|silk\/|symbian|nokia|android|nintendobrowser/i.test(navigator.userAgent);
var drawList = [
    function() {
        c3.generate({
            bindto: '#msgchart .chart',
            data: {
                x: 'x',
                columns: [
                    ['x'].concat(date_labels),
                    ['Msgs'].concat(msgs_by_day),
                    ['Active people'].concat(authors_by_day)
                ],
                axes: {
                    'Active people': 'y2'
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d'
                    }
                },
                y2: {show: true}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#userchart .chart',
            data: {
                x: 'x',
                columns: [
                    ['x'].concat(date_labels),
                {% for author, series in msgs_by_author_by_day.iteritems() %}
                [{{ author|tojson }}].concat({{ series|tojson }}),
                {% endfor %}
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d'
                    }
                }
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#silence .chart',
            data: {
                x: 'x',
                columns: [
                    ['x'].concat(date_labels),
                    ['Minutes'].concat(minutes_of_silence)
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d'
                    }
                }
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#daysofweek .chart',
            data: {
                columns: [
                    ['Msgs'].concat({{ days_of_week|tojson }})
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', categories: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#msgsbyauthor .chart',
            data: {
                columns: [
                    {% for author, days in top_authors %}
                    [{{ author|tojson }}, {{ days }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Total msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#wordspermsg .chart',
            data: {
                columns: [
                    {% for author, words in words_per_msg %}
                    [{{ author|tojson }}, {{ '%0.4f'|format(words) }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Words per msg']}
            },
            grid: {
                focus: {show: false},
                y: {
                    lines: [{value: {{ overall_words_per_msg }}, text: 'Overall average = {{ "%0.4f"|format(overall_words_per_msg) }}'}]
                }
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#hellos .chart',
            data: {
                columns: [
                    {% for word, msgs in hellos %}
                    [{{ word|tojson }}, {{ msgs|tojson }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#love .chart',
            data: {
                columns: [
                    {% for author, msgs in love %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#penis .chart',
            data: {
                columns: [
                    {% for author, msgs in penis %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#fuck .chart',
            data: {
                columns: [
                    {% for author, msgs in fuck %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#laughers .chart',
            data: {
                columns: [
                    {% for author, msgs in laughers %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#hours .chart',
            data: {
                x: 'x',
                columns: [
                    ['x'
                        {%- for hour in range(24) -%}
                        , {{ hour }}
                        {%- endfor -%}
                    ],
                    ['Msgs'].concat({{ hours|tojson }})
                ]
            },
            axis: {
                x: {
                    tick: {format: function(hour) { return hour + ':00'; }}
                }
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#activedays .chart',
            data: {
                columns: [
                    {% for author, days in active_days_by_author %}
                    [{{ author|tojson }}, {{ days }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Total days']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#edited .chart',
            data: {
                columns: [
                    {% for author, percent in edited %}
                    [{{ author|tojson }}, {{ "%0.2f"|format(percent) }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Percent']},
                y: {
                    tick: {
                        format: function (x) {
                            return x + '%';
                        }
                    }
                }
            },
            grid: {
                focus: {show: false},
                y: {
                    lines: [{value: {{ edited_overall }}, text: 'Overall average = {{ "%0.2f%%"|format(edited_overall) }}'}]
                }
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#percent_uppercase .chart',
            data: {
                columns: [
                    {% for author, percent in percent_uppercase %}
                    [{{ author|tojson }}, {{ "%0.2f"|format(percent) }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Percent']},
                y: {
                    tick: {
                        format: function (x) {
                            return x + '%';
                        }
                    }
                }
            },
            grid: {
                focus: {show: false},
                y: {
                    lines: [{value: {{ percent_uppercase_overall }}, text: 'Overall average = {{ "%0.2f%%"|format(percent_uppercase_overall) }}'}]
                }
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#hate .chart',
            data: {
                columns: [
                    {% for author, msgs in hate %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#boobs .chart',
            data: {
                columns: [
                    {% for author, msgs in boobs %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#shit .chart',
            data: {
                columns: [
                    {% for author, msgs in shit %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    },
    function() {
        c3.generate({
            bindto: '#godwin .chart',
            data: {
                columns: [
                    {% for author, msgs in nazis %}
                    [{{ author|tojson }}, {{ msgs }}],
                    {% endfor %}
                ],
                type: 'bar'
            },
            axis: {
                x: {type: 'category', show: false, categories: ['Msgs']}
            },
            grid: {
                focus: {show: false}
            },
            interaction: {enabled: !is_mobile}
        });
    }
];
setTimeout(function loop() {
    var f = drawList.shift()
    if (f) {
        f();
        setTimeout(loop, 10);
    }
}, 0)
</script>